<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Schedule</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/schedule.css') }}">
  </head>
  <body>
    <div class="container-fluid">
        <div class="row">
            <div class="btn-group" role="group" aria-label="Basic example">
                <button id = "prev" type="button" class="btn btn-primary rounded-0 me-3">Prev</button>
                <button id = "month" type="button" class="btn btn-white rounded-0 me-3" style="pointer-events: none;"></button>
                <button id = "next" type="button" class="btn btn-primary rounded-0">Next</button>
            </div>
        </div>
        <div class="row">
            <div id = "1" class="col-sm-1 border border-primary" style="background-color: white"></div>
            <div id = "2" class="col-sm-1 border border-primary" style="background-color:white;"></div>
            <div id = "3" class="col-sm-1 border border-primary" style="background-color:white;"></div>
            <div id = "4" class="col-sm-1 border border-primary"  style="background-color:white;"></div>
            <div id = "5" class="col-sm-1 border border-primary"  style="background-color:white;"></div>
            <div id = "6" class="col-sm-1 border border-primary"  style="background-color:white;"></div>
            <div id = "7" class="col-sm-1 border border-primary"  style="background-color:white;"></div>
          </div>
        <div class="row">
            <div id = "8" class="col-sm-1 border border-primary" style="background-color: white"></div>
            <div id = "9" class="col-sm-1 border border-primary" style="background-color:white;"></div>
            <div id = "10" class="col-sm-1 border border-primary" style="background-color:white;"></div>
            <div id = "11" class="col-sm-1 border border-primary"  style="background-color:white;"></div>
            <div id = "12" class="col-sm-1 border border-primary"  style="background-color:white;"></div>
            <div id = "13" class="col-sm-1 border border-primary"  style="background-color:white;"></div>
            <div id = "14" class="col-sm-1 border border-primary"  style="background-color:white;"></div>
          </div>
          <div class="row">
            <div id = "15" class="col-sm-1 border border-primary" style="background-color: white"></div>
            <div id = "16" class="col-sm-1 border border-primary" style="background-color:white;"></div>
            <div id = "17" class="col-sm-1 border border-primary" style="background-color:white;"></div>
            <div id = "18" class="col-sm-1 border border-primary"  style="background-color:white;"></div>
            <div id = "19" class="col-sm-1 border border-primary"  style="background-color:white;"></div>
            <div id = "20" class="col-sm-1 border border-primary"  style="background-color:white;"></div>
            <div id = "21" class="col-sm-1 border border-primary"  style="background-color:white;"></div>
          </div>
          <div class="row">
            <div id = "22" class="col-sm-1 border border-primary" style="background-color: white"></div>
            <div id = "23" class="col-sm-1 border border-primary" style="background-color:white;"></div>
            <div id = "24" class="col-sm-1 border border-primary" style="background-color:white;"></div>
            <div id = "25" class="col-sm-1 border border-primary"  style="background-color:white;"></div>
            <div id = "26" class="col-sm-1 border border-primary"  style="background-color:white;"></div>
            <div id = "27" class="col-sm-1 border border-primary"  style="background-color:white;"></div>
            <div id = "28" class="col-sm-1 border border-primary"  style="background-color:white;"></div>
          </div>
          <div class="row">
            <div id = "29" class="col-sm-1 border border-primary" style="background-color: white;"></div>
            <div id = "30" class="col-sm-1 border border-primary" style="background-color:white;"></div>
            <div id = "31" class="col-sm-1 border border-primary" style="background-color:white;"></div>
            <div id = "32" class="col-sm-1 border border-primary"  style="background-color:white;"></div>
            <div id = "33" class="col-sm-1 border border-primary"  style="background-color:white;"></div>
            <div id = "34" class="col-sm-1 border border-primary"  style="background-color:white;"></div>
            <div id = "35" class="col-sm-1 border border-primary"  style="background-color:white;"></div>
          </div>
        </div>
      </div>
    <script type="text/javascript" src="{{url_for('static', filename='styles/schedule.js')}}"></script>
  </body>
</html>